<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}MediBook{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block head %}{% endblock %}
</head>
<body>

<nav>
  <a href="/" class="nav-logo">✦ MediBook</a>
  <ul class="nav-links">
    {% if session.get('role') == 'admin' %}
      <li><a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary btn-sm">Dashboard</a></li>
      <li><a href="{{ url_for('admin_doctors') }}" class="btn btn-secondary btn-sm">Doctors</a></li>
      <li><a href="{{ url_for('admin_appointments') }}" class="btn btn-secondary btn-sm">Appointments</a></li>
      <li><a href="{{ url_for('logout') }}" class="btn btn-secondary btn-sm" style="margin-left:0.5rem">Logout</a></li>
    {% elif session.get('user_id') %}
      <li><a href="{{ url_for('user_dashboard') }}"class="btn btn-white btn-sm">My Appointments</a></li>
      <li><a href="{{ url_for('book') }}" class="btn btn-primary btn-sm" style="margin-left:0.5rem">+ Book</a></li>
      <li><a href="{{ url_for('logout') }}" class="btn btn-secondary btn-sm">Logout</a></li>
    {% else %}
      <li><a href="{{ url_for('login') }}" class="btn btn-secondary btn-sm">Login</a></li>
      <li><a href="{{ url_for('register') }}" class="btn btn-primary btn-sm" style="margin-left:0.5rem">Get Started</a></li>
    {% endif %}
  </ul>
</nav>

<div class="page">
  {% block content %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>